body{
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    background-color: #FFFFFF;
}

footer{
    border :2px solid #0f223d;
    margin-top: 8%;
    bottom: 0;
    text-align: center;
    color:white;
    background-color:#0f223d; 
}

.buttonIndex {
    background-color: #354665;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid #F95B53;
    border-radius: 5%;
    margin-top: 10%;
}

.buttonIndex:hover{
    background-color: #FFFFFF;
    border: none;
    color: #354665;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid #F95B53;
    border-radius: 5%;
}

header{
    width:100%;
    position: fixed;
    top:0;
    background-color: rgba(53, 70, 101, 1); 
    z-index: 1000;
    opacity: 0.95;
    /* 	padding-top: 5px;*/
}

h2{
    color:#F95B53;
}

body>h1{
    background-color:#354665; 
    color:white;
    text-align: center;
    padding: 1%;
}

table{
    margin:auto;
    border-collapse: collapse;
    width: 100%;
}

th,td{
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

th{
    background-color: #354665;
    color:white;
}

#recherche>p{
    margin-top: 2.5%;
    font-size: 2em;
    color:white;
}

#recherche, #buttons {
    display: inline-block;
    vertical-align: top;
}

#recherche{
    margin-left: 5%;
    min-width: 200px;
    max-width: 50%;

}

#buttons{
    float:right;
    margin-right: 5%;
    color:white;
    font-size: 1.2em;
}

#entete {
    text-align: center;
    margin :auto;
    padding: 4%;
    background-image: url(image/etu.jpg); 
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

#entete>h1{
    font-size: 3.5em;
}

#logo{
    min-height: 50px;
    max-width: 100%;
    min-width: 50px;
}

#btn {
    background-color:#555;
    color:#FFF;
    margin: auto;
    float: right;
    align-items : center;
}

#btn_recherche{
    width:35px;
    height:35px; 
}

#tuile{
    text-align: center;
}

#tuile>div>img:hover{
    opacity: 0.3;

}

#tuile>div>img{
    width: 500px;
    height: 250px;
}

#explication{
    color:white;
    width: 100%;
}

#explication_precis1, #explication_precis2, #explication_precis3{
    background-color: #354665;
    display: inline-block;
    vertical-align: top;
    margin-left: 9%;
    margin-top: 2%;
    border: 2px solid #F95B53;
    border-radius: 10px;
    text-align: center;
    padding:1%;
    padding-top: 1.7%;
    font-size: 20px;
    box-shadow: 5px 5px 0px black;
}

#conteneurAccueil{
    padding-top: 10%;
}

#champ{
    height: 40px;
    width: 500px;
    font-size: 1.3em;
}

/*CSS pour page connexion*/


.body_login_page {
    background-color : #354665;
}

.section_login_page {
    width: 35%;
    margin-left:41%;
    margin-top: 15%;
}

.ul_login_page {
    list-style-type: none;
}

.ul_login_page li{
    /*float: left;*/
    display: inline-block;
}

.ul_login_page li a{
    display: block;
    color: black;
    text-align: center;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    background-color: #F95B53;
    color : #FFFFFF;
    margin-left: 5px;
    border-radius: 10px 10px 0 0;
}

.ul_login_page li a:hover{
    opacity: 0.7;
}

.ul_login_page li:first-child a{
    margin-left: 0;
}

.ul_login_page .active{
    background-color: #0f223d;
}

#content_login_page{
    clear: both;
    width: 280px;
    background-color: #0f223d;
    color : #FFFFFF;
    padding: 24px;
    border-radius: 8% 8% 8% 8%;
}

#form-groupe-login-page{
    width : 100%;
}

#btn_login_page{
    position: absolute; /* postulat de départ */
    left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    padding: 5px;
}

.div_inline_block{
    width: 50%;
}

.centered-form{
    margin-top: 60px;
    width: 10%;
}

.centered-form .panel{
    background: #0f223d;
    width: 275px;
    transform: translate(-75px,-30px); 
}

label.label-floatlabel {
    font-weight: bold;
    color: #46b8da;
    font-size: 11px;
}

.ul_login_page{
    margin-bottom: 0px;
}

/*
CSS Pour les tuiles
Toute les infos gridster sont sur : https://dsmorse.github.io/gridster.js/
*/
.gridster{
    margin-top: 4%;
    margin-right: 2%;
    text-align: center;
}

.gridster>ul>li>img:hover{
    opacity: 0.5;
}

.gridster>ul>li{
    display:inline;
}

.gridster>ul>li>img{
    padding: 5px;
    width: 50%;
    min-height: 200px;
}

#conduite{
    width: 50%;
    height: 300px;
}

#info{
    width: 30%;
    height: 300px;
}

#lecon{
    width: 30%;
    height: 300px;
}

#course{
    width: 50%;
    height:300px;
}

/*
CSS Page de profil
*/

.body_login_page {
    background-color : #354665;
}

.show_profil {
    width: 100%;
    margin-left: 10%;
    margin-top: 10%;
}

.inline_profil{
    /*float: left;*/
    display: inline-block;
    width:100%;
}

.inline_profil * {
    display: inline;
}

.inline_profil button{
    position: absolute;
    left: 30%;
}

.button_profil {
    background-color: #354665;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: 3px solid white;
    border-radius: 5%;
}

.button_profil:hover {
    border: 3px solid #F95B53;
    border-radius: 5%;
}

.ul_login_page li a{
    display: block;
    color: black;
    text-align: center;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    background-color: #F95B53;
    color : #FFFFFF;
    margin-left: 5px;
    border-radius: 10px 10px 0 0;
}

.ul_login_page li a:hover{
    opacity: 0.7;
}

.ul_login_page li:first-child a{
    margin-left: 0;
}

.ul_login_page .active{
    background-color: #0f223d;
}

#content_login_page{
    clear: both;
    width: 280px;
    background-color: #0f223d;
    color : #FFFFFF;
    padding: 24px;
    border-radius: 8% 8% 8% 8%;
}

#form-groupe-login-page{
    width : 100%;
}

#btn_login_page{
    position: absolute; /* postulat de départ */
    left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    padding: 5px;
}

.div_inline_block{
    width: 50%;
}

.centered-form{
    margin-top: 60px;
    width: 10%;
}

.centered-form .panel{
    background: #0f223d;
    width: 275px;
    transform: translate(-75px,-30px); 
}

label.label-floatlabel {
    font-weight: bold;
    color: #46b8da;
    font-size: 11px;
}

.ul_login_page{
    margin-bottom: 0px;
}


/*
CSS Page de services
*/

.show_services {
    width: 100%;
    margin-left: 10%;
    margin-top: 10%;
}

/*
CSS Page de moderation
*/
#show_mode {
    width: 100%;
    margin-left: 10%;
    margin-top: 10%;
}

#show_mode button {
    background-color: #354665;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid #F95B53;
    border-radius: 5%;
    margin-top: 10%;
}

#show_mode button:hover{
    background-color: #FFFFFF;
    border: none;
    color: #354665;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid #F95B53;
    border-radius: 5%;
}

#show_mode_options button {
    background-color: #354665;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid #F95B53;
    border-radius: 5%;
    margin-top: 10%;
}

#show_mode_options button:hover{
    background-color: #FFFFFF;
    border: none;
    color: #354665;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid #F95B53;
    border-radius: 5%;
}

#show_mode_options th>a{
    text-decoration: none;
    color:white;
}
#show_mode_options th>a:hover{
    text-decoration: none;
    color:red;
}
#show_mode_options th,td{
    text-align: center;
}
#show_mode_options button:hover{
    color: white;
    background-color: #0f223d;
}
#show_mode_options button{
    margin-top: 0;
    margin-left: 0.5%;
}
#show_mode_options #retour{
    margin-top:0;
    margin-left: 5%;
}
#show_mode_options #but{
    margin-top: 0;
}
#show_mode_options .buttons{
    text-align: center;
    padding: 5%;
}